<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/all.css" rel="stylesheet" />
    <link href="/css/bulma.css" rel="stylesheet" />
    <script src="/js/all.js"></script>
    <script src="/js/vue.js"></script>
    <title>My ToDo List</title>
  </head>
  <body>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <p class="title">My ToDo List</p>
        </div>
      </div>
    </section>
    <section id="app">
      <div class="container">
        <span class="subtitle mx-2">Completed: {{complete}} Tasks</span>
        <span class="subtitle mx-2">Incomplete: {{incomplete}} Tasks</span>
        <span class="subtitle mx-2">Flagged: {{flagged}} Tasks</span>
        <button class="button is-dark mx-5" @click="showAddList = true">
          <p>Add new list</p>
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
        </button>
        <br />
        <br />
        <div class="columns" v-for="(list, index) in listType" :key="list.id">
          <div class="column is-8">
            <div class="is-flex">
              <p class="title">{{list.title}}</p>
              <span
                class="icon is-small ml-5 mt-3"
                @click="editListModal(list)"
              >
                <i class="fas fa-edit"></i>
              </span>
              <span class="icon is-small ml-5 mt-3" @click="delList(list)">
                <i class="fas fa-trash-alt"></i>
              </span>
            </div>
            <div
              class="box level py-3 my-2"
              v-for="(item, index) in filteredTasks"
              v-if="list.id == item.listId"
              :key="item.id"
              v-bind:class="item.classObject"
            >
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox" v-model="item.status" />
                  <span
                    v-bind:style="{textDecoration: item.status ? 'line-through' : 'none'}"
                  >
                    {{item.title}}
                    <span v-if="item.duedate != null">
                      (Due by {{item.duedate}})
                    </span>
                    <span
                      class="icon is-small ml-5"
                      :style="{display: item.flag ? 'inline-block' : 'none'}"
                    >
                      <i class="fas fa-flag"></i>
                    </span>
                  </span>
                </label>
              </div>
              <div class="level-right">
                <span class="icon is-small" @click="editTask(item)">
                  <i class="fas fa-edit"></i>
                </span>
                <span class="icon is-small ml-5" @click="delItem(item)">
                  <i class="fas fa-trash-alt"></i>
                </span>
              </div>
            </div>
            <div class="modal" :class="{'is-active' : showModal}">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Edit Task</p>
                  <button
                    class="delete"
                    aria-label="close"
                    @click="showModal = false"
                  ></button>
                </header>
                <section class="modal-card-body">
                  <div class="field">
                    <input
                      class="input"
                      placeholder="Task Name"
                      v-model="editTaskName"
                    />
                    <p v-if="error.taskName != ''" class="has-text-danger">
                      {{error.taskName}}
                    </p>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <input class="input" type="date" v-model="editDuedate" />
                    </div>
                    <div class="field">
                      <div class="select">
                        <select v-model="editList">
                          <option value="idle">Select List</option>
                          <option
                            v-for="data in listType"
                            :key="data.id"
                            :value="data.id"
                          >
                            {{data.title}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="field">
                      <div class="control">
                        <input type="checkbox" v-model="editFlag" />
                      </div>
                    </div>
                    <span style="color: black">flag</span>
                    <div class="field ml-4">
                      <div class="control is-flex is-flex-direction-row">
                        <span
                          class="mx-1 icon has-text-dark box is-rounded has-background-dark"
                          @click="editMark = 'black'"
                        >
                          <span v-if="editMark == 'black'">
                            <i class="fas fa-check-circle has-text-white"></i>
                          </span>
                        </span>
                        <span
                          class="mx-1 icon has-text-danger box has-background-danger"
                          @click="editMark = 'red'"
                        >
                          <span v-if="editMark == 'red'">
                            <i class="fas fa-check-circle has-text-white"></i>
                          </span>
                        </span>
                        <span
                          class="mx-1 icon has-text-success box has-background-success"
                          @click="editMark = 'green'"
                        >
                          <span v-if="editMark == 'green'">
                            <i class="fas fa-check-circle has-text-white"></i
                          ></span>
                        </span>
                      </div>
                    </div>
                  </div>
                </section>
                <footer class="modal-card-foot">
                  <button class="button is-success" @click="saveEdit">
                    Save
                  </button>
                  <button class="button" @click="showModal = false">
                    Cancel
                  </button>
                </footer>
              </div>
            </div>
            <div class="modal" :class="{'is-active' : showDelete}">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Delete Task</p>
                  <button
                    class="delete"
                    aria-label="close"
                    @click="showDelete = false"
                  ></button>
                </header>
                <section class="modal-card-body">
                  <p style="color: black">
                    Are you sure you want to delete '{{delTaskName}}'?
                  </p>
                </section>
                <footer class="modal-card-foot">
                  <button class="button is-danger" @click="deleteItem()">
                    Confirm
                  </button>
                  <button class="button" @click="showDelete = false">
                    Cancel
                  </button>
                </footer>
              </div>
            </div>
            <div class="modal" :class="{'is-active' : showAddList}">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Add new list</p>
                  <button
                    class="delete"
                    aria-label="close"
                    @click="showAddList = false"
                  ></button>
                </header>
                <section class="modal-card-body">
                  <input class="input" v-model="listName" />
                  <p v-if="error.listName != ''" class="has-text-danger">
                    {{error.listName}}
                  </p>
                </section>
                <footer class="modal-card-foot">
                  <button class="button is-success" @click="addNewList()">
                    Confirm
                  </button>
                  <button class="button" @click="showAddList = false">
                    Cancel
                  </button>
                </footer>
              </div>
            </div>
            <div class="modal" :class="{'is-active' : showEditList}">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Edit list</p>
                  <button
                    class="delete"
                    aria-label="close"
                    @click="showEditList = false"
                  ></button>
                </header>
                <section class="modal-card-body">
                  <input class="input" v-model="editListName" />
                  <p v-if="error.listName != ''" class="has-text-danger">
                    {{error.listName}}
                  </p>
                </section>
                <footer class="modal-card-foot">
                  <button class="button is-success" @click="saveEditList">
                    Confirm
                  </button>
                  <button class="button" @click="showEditList = false">
                    Cancel
                  </button>
                </footer>
              </div>
            </div>
            <div class="modal" :class="{'is-active' : showDeleteList}">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="modal-card-title">Delete List</p>
                  <button
                    class="delete"
                    aria-label="close"
                    @click="showDeleteList = false"
                  ></button>
                </header>
                <section class="modal-card-body">
                  <p>Are you sure you want to delete '{{delListName}}'?</p>
                </section>
                <footer class="modal-card-foot">
                  <button class="button is-danger" @click="deleteList()">
                    Confirm
                  </button>
                  <button class="button" @click="showDeleteList = false">
                    Cancel
                  </button>
                </footer>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <p class="subtitle my-3">{{list.title}}</p>
            <div class="card">
              <header class="card-header has-background-dark">
                <p class="card-header-title has-text-white-bis">Filters</p>
                <p class="card-header-icon">
                  <span class="card-header-icon icon has-text-white-bis">
                    <i class="fas fa-filter"></i>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <div
                  class="content"
                  v-for="filterType in filters"
                  :key="filterType.id"
                  v-if="filterType.id == list.id"
                >
                  <div class="control">
                    <label class="checkbox">
                      <input type="checkbox" v-model="filterType.hideDone" />
                      Hide completed tasks
                    </label>
                  </div>
                  <div class="control">
                    <label class="checkbox">
                      <input type="checkbox" v-model="filterType.showFlag" />
                      Show only flagged task
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="card">
              <header class="card-header has-background-dark">
                <p class="card-header-title has-text-white-bis">Sort</p>
                <p class="card-header-icon">
                  <span class="card-header-icon icon has-text-white-bis">
                    <i class="fas fa-filter"></i>
                  </span>
                </p>
              </header>
              <div class="card-content">
                <div
                  class="content"
                  v-for="radioItem in sorts"
                  :key="radioItem.id"
                  v-if="radioItem.id == list.id"
                >
                  <div class="control">
                    <input
                      type="radio"
                      v-model="radioItem.type"
                      value="alpha"
                    />
                    <label class="radio"> Sort alphabetically </label><br />
                    <input
                      type="radio"
                      v-model="radioItem.type"
                      value="undone"
                    />
                    <label class="radio"> Sort incomplete tasks </label><br />
                    <input type="radio" v-model="radioItem.type" value="flag" />
                    <label class="radio"> Sort flagged task first </label><br />
                    <input type="radio" v-model="radioItem.type" value="date" />
                    <label class="radio"> Sort by due date (ascending) </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="columns my-5">
          <div class="column is-10">
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    placeholder="Task Name"
                    v-model="taskName"
                    style="min-width: 325px"
                  />
                  <br />
                  <p v-if="error.taskName != ''" class="has-text-danger">
                    {{error.taskName}}
                  </p>
                </div>
              </div>
              <div class="field">
                <div class="select">
                  <select v-model="checkList" style="min-width: 300px">
                    <option value="idle">Select List</option>
                    <option
                      v-for="data in listType"
                      :key="data.id"
                      :value="data.id"
                    >
                      {{data.title}}
                    </option>
                  </select>
                  <p v-if="error.select != ''" class="has-text-danger">
                    {{error.select}}
                  </p>
                </div>
              </div>
              <div class="field">
                <input class="input" type="date" v-model="duedate" />
              </div>
              <div class="field ml-3">
                <input type="checkbox" v-model="flagActive" />
              </div>
              <span class="mr-3">Flag</span>
              <div class="field ml-3">
                <div class="control is-flex is-flex-direction-row">
                  <span
                    class="mx-1 icon has-text-dark box is-rounded has-background-dark"
                    @click="mark = 'black'"
                  >
                    <span v-if="mark == 'black'">
                      <i class="fas fa-check-circle has-text-white"></i>
                    </span>
                  </span>
                  <span
                    class="mx-1 icon has-text-danger box has-background-danger"
                    @click="mark = 'red'"
                  >
                    <span v-if="mark == 'red'">
                      <i class="fas fa-check-circle has-text-white"></i>
                    </span>
                  </span>
                  <span
                    class="mx-1 icon has-text-success box has-background-success"
                    @click="mark = 'green'"
                  >
                    <span v-if="mark == 'green'">
                      <i class="fas fa-check-circle has-text-white"></i
                    ></span>
                  </span>
                </div>
              </div>
              <div class="field">
                <p class="control">
                  <a class="button is-dark" @click="addTodo()">
                    Add New Task
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="app.js"></script>
</html>
